extends layout

block scripts
  script(language='javascript', src='/js/jquery.cycle.all.js')
  script(language='javascript', src='/socket.io/socket.io.js')
  link(rel='stylesheet', href='/css/highlight/default.css', type='text/css')
  script(language='javascript', src='/js/highlight.pack.js')
  script(language='javascript', src='/js/presti.js')
block content
  .container-fluid
    .row-fluid.chat
      .span3
        a(href='/logout') Logout
        .well
          h4 Chat
          input#message
          div#messages
      .span9
        include slideshow
