extends layout

block scripts
  script(language='javascript', src='/js/jquery.cycle.all.js')
  script(language='javascript', src='/socket.io/socket.io.js')
  link(rel='stylesheet', href='/css/highlight/default.css', type='text/css')
  script(language='javascript', src='/js/highlight.pack.js')
  script(language='javascript', src='/js/presti.js')
block content
  .row.chat
    .span9
      .slideshow
        - for slide in slides
          .slide
            .content!= slide.html
    .span3
      | Sidebar
