extends layout

block scripts
  script(language='javascript', src='/js/jquery.cycle.all.js')
  script(language='javascript', src='/socket.io/socket.io.js')
  script(language='javascript', src='/js/presti.js')
block content
  .row
    .span12
      .slideshow
        - for slide in slides
          .slide
            .content= slide.content
