extends layout

block scripts
  script(language='javascript', src='/js/jquery.cycle.all.js')
  script(language='javascript', src='/js/presti.js')
block content
  .row
    .slideshow
      .slide My slide
      .slide Slide 2
      .slide Slide 3
