body {
  background: #333;
}
body .container {
  width: 1024px;
}
body .slideshow {
  width: 1024px;
  margin: 0 auto;
  height: 768px;
  border: 1px solid #aaa;
}
body .slideshow .slide {
  width: 100%;
  height: 100%;
  background: #fff;
}
body .chat .slideshow {
  transform: scale(0.666666, 0.666666);
  transform-origin: 0%, 0%;
  -ms-transform: scale(0.666666, 0.666666);
  /* IE 9 */

  -ms-transform-origin: 0% 0%;
  -webkit-transform: scale(0.666666, 0.666666);
  /* Safari and Chrome */

  -webkit-transform-origin: 0% 0%;
  -o-transform: scale(0.666666, 0.666666);
  /* Opera */

  -o-transform-origin: 0% 0%;
  -moz-transform: scale(0.666666, 0.666666);
  /* Firefox */

  -moz-transform-origin: 0% 0%;
}
