.scale(@size) {
  transform: scale(@size,@size);
  transform-origin: 0%, 0%;
  -ms-transform: scale(@size,@size); /* IE 9 */
  -ms-transform-origin: 0% 0%;
  -webkit-transform: scale(@size,@size); /* Safari and Chrome */
  -webkit-transform-origin: 0% 0%;
  -o-transform: scale(@size,@size); /* Opera */
  -o-transform-origin: 0% 0%;
  -moz-transform: scale(@size,@size); /* Firefox */
  -moz-transform-origin: 0% 0%;
 }

body {
  background-image: url(../img/background.png);

  .container {
    width: 1024px;
  }

  .slideshow {
    width: 1024px;
    margin: 0 auto;
    height: 768px;
    border:1px solid #aaa;

    .slide {
      width: 100%;
      height: 100%;
      background: url(/img/slides-background.png);
      
      .content {
        padding: 160px 20px 20px 20px;
      }
    }
  }

  .chat {
    .slideshow {
      .scale(0.5);
    }
  }

  .present {
    .slideshow {
      .scale(0.5);
    }
  }

  #message {
    width: 100%;
  }

  #messages {
    img.profile { width: 32px; }
  }
}
