body {
  background-image: url(../img/background.png);
}
body .container {
  width: 1024px;
}
body .slideshow {
  width: 1024px;
  margin: 0 auto;
  height: 768px;
  border: 1px solid #aaa;
}
body .slideshow .slide {
  width: 100%;
  height: 100%;
  background: url(/img/slides-background.png);
}
body .slideshow .slide .content {
  padding: 160px 20px 20px 20px;
  text-align: center;
  font-size: 32pt;
}
body .slideshow .slide .content ul,
body .slideshow .slide .content li,
body .slideshow .slide .content p {
  font-size: 32pt;
  line-height: 32pt;
}
body .slideshow .slide .content ul ul,
body .slideshow .slide .content li ul,
body .slideshow .slide .content p ul,
body .slideshow .slide .content ul li,
body .slideshow .slide .content li li,
body .slideshow .slide .content p li,
body .slideshow .slide .content ul p,
body .slideshow .slide .content li p,
body .slideshow .slide .content p p {
  font-size: 1em;
  line-height: 1.0em;
}
body .slideshow .slide .content ul {
  list-style: none;
}
body .slideshow .slide .content li {
  margin-top: 32pt;
}
body .slideshow .slide .content h1 {
  font-size: 44pt;
  line-height: 44pt;
}
body .slideshow .slide .content h2 {
  font-size: 40pt;
  line-height: 60pt;
}
body .slideshow .slide .content code {
  text-align: left;
}
body #sidebar {
  height: 768px;
}
body #sidebar .well {
  position: relative;
  height: 95%;
}
body .logout {
  float: right;
}
body #message {
  width: 95%;
}
body #online {
  overflow-y: auto;
  height: 60px;
}
body #online img {
  height: 20px;
  height: 20px;
  margin: 5px;
}
body #messages {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  top: 140px;
  overflow-y: auto;
}
body #messages .message {
  margin: 8px 0;
}
body #messages .message img.profile {
  width: 32px;
}
